<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>星海金融集团</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="/static/btst/front_vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/btst/front_vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/btst/front_vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/btst/front_vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/btst/front_vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/btst/front_vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/btst/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">xinhai888@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>13880008888</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/front_index">星海金融集团</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/front_index">首页</a></li>
                <li><a class="nav-link scrollto" href="#about">关于我们</a></li>
                <li><a class="nav-link scrollto" href="#services">业务领域</a></li>
                <li><a class="nav-link scrollto " href="#news">新闻资讯</a></li>
                <!--          <li><a class="nav-link scrollto" href="#team">合作伙伴</a></li>-->
                <li><a class="nav-link scrollto" href="/login">员工登录</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>星海金融集团</span></h1>
        <h2>团秉承着“以客为本，诚信专业”的经营理念，致力于成为最受尊敬的投资管理合作伙伴</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">走进星海集团</a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">行业数字化</a></h4>
                        <p class="description">
                            集团在私募股权和风险投资领域拥有深厚的专业实力，我们投资于具有高成长潜力的初创企业和成熟企业，通过提供资金、管理和战略资源，助力企业快速发展。</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">业务智能化</a></h4>
                        <p class="description">
                            我们为客户提供包括但不限于股票、债券、基金和其他金融衍生品在内的多样化投资组合管理服务。星海金融的资产管理团队运用先进的分析工具和严谨的投资策略，致力于实现客户的长期财务目标。</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">管理一体化</a></h4>
                        <p class="description">
                            星海金融集团提供一系列金融市场服务，包括市场分析、投资银行咨询、融资解决方案等，帮助客户把握市场脉搏，优化资本结构。</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">技术先进化</a></h4>
                        <p class="description">
                            我们协助企业在并购、重组和战略咨询方面做出明智决策。星海金融的专业顾问团队凭借丰富的市场经验和行业知识，为客户识别并执行增值并购机会。</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <h3>了解更多 <span>星海金融集团</span></h3>
                <p>致力于为投资人和我们所投的项目，创造积极的经济影响和有价值的回报。</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="/static/btst/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <h3>以客为本，诚信专业</h3>
                    <p>
                        集团注册资本12亿元，总资产规模131亿元，下属全资、控股企业23家。星海金融集团秉承着“以客为本，诚信专业”的经营理念，致力于成为最受尊敬的投资管理合作伙伴。
                    </p>
                    <ul>
                        <li>
                            <i class="bx bx-store-alt"></i>
                            <div>
                                <h5>业务领域</h5>
                                <p>深度融合国内外大型银行、信托，以创新模式服务地产金融生态链</p>
                            </div>
                        </li>
                        <li>
                            <i class="bx bx-images"></i>
                            <div>
                                <h5>市场服务</h5>
                                <p>星海金融集团提供一系列金融市场服务，包括市场分析、投资银行咨询、融资解决方案等，帮助客户把握市场脉搏，优化资本结构。</p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        集团在发展过程中经历了城市化建设、多元化发展、集团化运营、战略化布局等四个历史阶段，公司业务包括投资管理、股权投资和金融服务等；公司正在逐步布局全球市场，致力于为投资人和我们所投的项目，创造积极的经济影响和有价值的回报。
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <h3>业务领域 <span>Services</span></h3>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">风险投资</a></h4>
                        <p>
                            集团在私募股权和风险投资领域拥有深厚的专业实力，我们投资于具有高成长潜力的初创企业和成熟企业，通过提供资金、管理和战略资源，助力企业快速发展。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">资产管理</a></h4>
                        <p>
                            我们为客户提供包括但不限于股票、债券、基金和其他金融衍生品在内的多样化投资组合管理服务。星海金融的资产管理团队运用先进的分析工具和严谨的投资策略，致力于实现客户的长期财务目标。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">金融市场服务</a></h4>
                        <p>星海金融集团提供一系列金融市场服务，包括市场分析、投资银行咨询、融资解决方案等，帮助客户把握市场脉搏，优化资本结构。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">企业并购</a></h4>
                        <p>
                            我们协助企业在并购、重组和战略咨询方面做出明智决策。星海金融的专业顾问团队凭借丰富的市场经验和行业知识，为客户识别并执行增值并购机会。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">财富管理</a></h4>
                        <p>集团的财富管理部门为高净值个人提供量身定制的财富增长和保值方案，并确保其资产配置符合风险承受能力和财务规划。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">私募股权投资</a></h4>
                        <p>
                            中金资本作为中金唯一的私募基金业务平台，统一管理中金境内外私募股权投资基金业务。中金资本致力于成为一个拥有强大品牌影响力，出色的融资及投资能力完善...</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="news" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>NEWS</h2>
                <h3>新闻资讯</h3>
                <p>推荐行业内及公司内部的相关资讯信息</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="faq-list">

                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">美国国债是什么？不太明白的一起来了解下<i
                                    class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    美国的政府债券其实就是美国政府发行的借据 投资者们常购买的金融产品是股票、债券还有基金。 自从美国债券发行以来，...
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">开板是什么意思？专业知识这样来理解 <i
                                    class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    对于开板的意思,一些资料显示是对市场进行一种开发，对于股票来是一般的情况下连续涨停板的打开，假如说有一段时间它涨停...
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">满仓是什么意思？行业术语要了解清楚 <i
                                    class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    仓位主要指证券资本账户中使用的资金比例，根据不同程度可分为轻仓位、半仓位、重仓位和满仓。 满仓的运作通常意味着所有...
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">2023.5.16美联储加息意味着什么？意味的东西还不少呢 <i
                                    class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    美联储是作为美国的央行的，在美国的金融界领域也是占有很大的作用的，他保持着美国经济的发展，我们知道美国的人失业率是...
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><span>星海金融集团</span></h3>
                    <p>
                        北京市东三环路西大街546号<br>银都大厦5楼A108 <br><br>
                        <strong>电话:</strong> 13888888888<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>站内导航</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">首页</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">关于我们</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">业务领域</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">新闻资讯</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>服务范围</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">风险投资</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">资产管理</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">金融市场服务</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">企业并购</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">财富管理</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>我们的社交网络</h4>
                    <p>通过以下社交平台与我们建立紧密的联系与沟通</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>星海金融集团</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/btst/front_vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/btst/front_vendor/aos/aos.js"></script>
<script src="/static/btst/front_vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/btst/front_vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/btst/front_vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/btst/front_vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/btst/front_vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="/static/btst/js/main.js"></script>

</body>

</html>